#!/sbin/openrc-run

depend() {
  need localmount
  after net
}

start() {
  ebegin "Starting Vault"
  start-stop-daemon --background --start --exec /go/bin/vault -- server -config /go/src/github.com/hashicorp/vault/vault.json -address=http://127.0.0.1:8200 -log-level=DEBUG -tls-skip-verify
  eend $?
}

stop() {
  ebegin "Stopping Vault"
  start-stop-daemon --stop --exec /go/bin/vault -- leave
  eend $?
}